.btn {
    text-transform: uppercase;
    &.btn-xs {
        font-size: 10px;
        line-height: 1.2;
    }
}

.btn-cart,
.btn-conversion {
    #button-variant(theme-color('secondary'), theme-color('secondary'));
}
.cart-toggle-unselected-options {
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: @btn-border-width solid transparent;
    #button-size(@btn-padding-y, @btn-padding-x, @btn-font-size, @btn-line-height, @btn-border-radius);
    #transition(@btn-transition);
    cursor: pointer;
}
.btn-default,
.cart-toggle-unselected-options {
    #button-variant(theme-color('primary'), theme-color('primary'));
}

.btn-default {
    #footer & {
        #button-variant(theme-color('secondary'), theme-color('secondary'));
    }
    &.load-products {
        #button-variant(theme-color('green'), theme-color('green'));
        color: #fff;
    }
}

a.btn {
    text-decoration: none;
}

.btn-cart,
.add-to-cart-button {
    &::after {
        &:extend(.shp-icon);
        font-size: @font-size-base;
    }
}

.btn-cart,
.add-to-cart-button {
    &::after {
        content: @icon-cart-code;
        margin-left: 1ex;
        margin-top: -1px;
    }
}
