@media (min-width: @screen-md-min) {
    .cart-row {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        > .col-md-8 {
            width: calc(100% - 360px);
            padding-right: (@grid-gutter-width / 2);
        }
        > .col-md-4 {
            position: -webkit-sticky !important;
            position: sticky !important;
            top: 0;
            width: 360px;
            padding: (@grid-gutter-width / 2);
            .helpBox();
            background-color: #fff;
            transition: top @transition-duration @transition-timing @transition-delay;
            .scrolled-down & {
                top: (@header-height + (@grid-gutter-width / 2)) !important;
            }
            .scrolled-up & {
                top: (@header-height + @navigation-height + (@grid-gutter-width / 2)) !important;
            }
        }
    }
}

.cart-header {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    margin: 0 0 @spacer;
    padding: 0;
    text-transform: uppercase;
    strong {
        font-weight: normal;
    }
    .step {
        width: 33.333%;
        flex-basis: 33.333%;
        padding: 0 5px;
        text-align: center;
        color: theme-color(light);
        &.active {
            color: @body-color;
        }
        & + .step {
            border-left: 1px solid @border-color;
        }
    }
}

.cart-table {
    display: block;
    width: 100%;
    tbody {
        display: block;
        width: 100%;
    }
    a {
        text-decoration: none;
        &.show-related {
            display: block;
            font-size: @font-size-sm;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    tr {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: (@spacer / 2);
        padding-bottom: (@spacer / 2);
        .productBorderBottom();
        &.related {
            display: none;
            &.visible {
                display: block;
            }
        }
    }
    .cart-p-image,
    .p-name {
        margin-bottom: (@spacer / 2);
    }
    .cart-p-image {
        width: 52px;
        flex-basis: 52px;
        img {
            border: 1px solid @border-color ;
        }
    }
    .p-name {
        width: calc(100% - 52px);
        flex-basis: calc(100% - 52px);
        padding: 0 (@grid-gutter-width / 4);
    }
    .p-availability,
    .p-quantity,
    .p-price,
    .p-total {
        width: 50%;
        flex-basis: 50%;
        margin-bottom: (@spacer / 2);
    }
    .p-quantity,
    .p-total {
        text-align: right;
    }
    .recapitulation-wrapper & {
        max-width: @screen-sm-min;
        .p-quantity {
            text-align: left;
        }
        .p-price {
            text-align: right;
            font-weight: bold;
        }
    }
    @media (min-width: @screen-sm-min) {
        .cart-p-image {
            width: 102px;
            flex-basis: 102px;
        }
        .p-name {
            width: calc(100% - 102px);
            flex-basis: calc(100% - 102px);
        }
    }
}

.cart-related-product {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: (@spacer / 4);
    .productBorderBottom();
    font-size: @font-size-sm;
    &:last-child {
        margin-bottom: 0;
        border-bottom: none;
    }
}

.cart-related-img {
    display: block;
    img {
        max-width: 50px;
        border: 1px solid @border-color;
    }
    @media (min-width: @screen-sm-min) {
        max-width: 100px;
    }
}

.cart-related-info,
.cart-related-button {
    width: 50%;
    flex-basis: 50%;
}

.cart-related-button {
    text-align: right;
}

.p-label {
    display: block;
    margin-bottom: 3px;
    font-size: @font-size-sm;
    color: theme-color(light);
}

.extra {
    margin-bottom: @spacer;
    &::before {
        &:extend(.shp-icon);
        margin-right: (@grid-gutter-width / 4);
        font-size: 36px;
    }
    &.delivery {
        &::before {
            content: @icon-van-code;
        }
    }
}

.cart-table + .cart-summary,
.delivery-time + .cart-summary {
    // TODO: Ask Brezina
    display: none;
}

.back-shopping-link {
    display: none;
}

.next-step {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.next-step-back {
    font-size: @font-size-sm;
    text-decoration: none;
    color: theme-color(light);
}

.checkout-box,
.checkout-box-wrapper {
    display: none;
    @media (min-width: @screen-md-min) {
        display: block;
    }
}

.checkout-box {
    .toggle-contacts {
        margin-bottom: @spacer;
    }
    .box {
        display: none;
        &.visible {
            display: block;
        }
    }
}

.contact-box {
    img {
        display: block;
        margin-bottom: @spacer;
    }
}

.summary-wrapper {
    .box {
        margin-bottom: 0;
    }
}

.not-possible-info {
    display: none;
    .inactive & {
        display: inline-block;
    }
}

.radio-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: (@spacer / 2);
    cursor: pointer;
    input {
        width: 32px;
    }
    label {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 32px);
        margin-bottom: 0;
    }
    .inactive {
        color: theme-color(light);
        .for-free {
            color: theme-color(light);
        }
    }
}

.payment-info {
    width: 60%;
}

.payment-logo {
    width: 20%;
    padding-left: (@grid-gutter-width / 2);
    text-align: right;
    img {
        border: 1px solid @border-color;
    }
}

.payment-shipping-price {
    width: 20%;
    padding-left: (@grid-gutter-width / 2);
    text-align: right;
}

.for-free {
    color: @green;
}

.cart-items,
.order-summary-item,
.order-recapitulation {
    margin-bottom: @spacer;
}

.order-summary-item {
    &.price,
    &.helper {
        text-align: right;
    }
    &.helper {
        strong {
            .priceLabel();
        }
        div + div {
            font-size: @price-font-size;
            font-weight: bold;
        }
    }
}

.order-recapitulation {
    text-align: right;
}

.recapitulation-shipping-billing-label {
    display: block;
    .priceLabel();
}

.cart-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: (@spacer / 4);
}

.cart-item-name {
    width: 100%;
}

.cart-item-amount {
    color: theme-color(light);
}

.cart-item-amount,
.cart-item-price {
    width: 50%;
}

.cart-item-price {
    text-align: right;
    font-weight: bold;
}

.cart-content {
    .price-wrapper {
        text-align: right;
    }
}

.recapitulation-wrapper {
    .co-box {
        margin-bottom: (@spacer / 2);
    }
}

.recapitulation-shipping-billing-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
    font-size: @font-size-sm;
    font-weight: normal;
    > span {
        order: 2;
        display: block;
        margin: (@spacer / 4) 0;
        font-size: @font-size-base;
        font-weight: bold;
    }
}

// Grouped shipping items
.shipping-billing-table {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: row;
}

.grouped-items-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: (@spacer / 2);
}

.grouped-items-label {
    width: 30%;
    padding-left: 1ex;
    text-align: right;
    @media (min-width: @screen-sm-min) {
        width: 50%;
    }
}

.grouped-shipping-select {
    width: 70%;
    @media (min-width: @screen-sm-min) {
        width: 50%;
    }
}

.radio-wrapper.grouped-shipping-item {
    display: none;
    &.active {
        display: block;
    }
    .show-tooltip {
        display: none;
    }
    margin-bottom: (@spacer / 2);
    padding: 1ex;
    border: 1px solid @border-color;
    background: #fff;
    font-size: @font-size-sm;
    cursor: pointer;
    .payment-logo {
        display: block;
        margin: (@spacer / 2) 0;
        padding-left: 0;
        img {
            display: block;
        }
    }
    b {
        font-weight: normal;
    }
    label,
    input {
        cursor: pointer;
    }
    label,
    .payment-info {
        width: 100%;
        display: block;
    }
    .payment-shipping-price {
        display: none;
    }
}

.cart-hide-unselected-options .radio-wrapper {
    max-height: 500px;
    overflow: hidden;
    transition: all @transition-duration @transition-timing @transition-delay;
    &.unselected-option {
        max-height: 0;
        margin: 0;
        padding: 0;
        border: none;
    }
}
