.cat-trigger {
    &::before {
        display: inline-block;
        width: @cat-trigger-dimension;
        height: @cat-trigger-dimension;
        text-align: center;
        font-size: @cat-trigger-font-size;
        line-height: @cat-trigger-dimension;
    }
}

.categories {
    font-size: @font-size-sm;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    a {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: (@spacer / 4);
        padding-bottom: (@spacer / 4);
        text-decoration: none;
    }
    .topic a {
        font-weight: bold;
    }
    > ul {
        > li {
            > a {
                padding-left: (@grid-gutter-width / 4);
            }
        }
        ul {
            > li {
                > a {
                    padding-left: (@grid-gutter-width / 2);
                }
            }
        }
    }
}

.categories,
.categories li {
    &.expandable {
        > ul {
            width: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
            transition: opacity @transition-duration @transition-timing @transition-delay;
        }
        .cat-trigger {
            &::before {
                content: '\002B';
            }
        }
        &.expanded {
            > ul {
                width: auto;
                height: auto;
                opacity: 1;
            }
            .cat-trigger {
                &::before {
                    content: '\2212';
                }
            }
        }
    }
}
