body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: @font-size-base;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    color: @body-color;
    &.type-detail {
        background-color: #fff;
    }
    &.user-action-visible {
        overflow: hidden;
        &.menu-helper-visible {
            overflow: auto;
        }
        @media (min-width: @screen-md-min) {
            overflow: visible;
        }
    }
    @media (max-width: @screen-xs-max) {
        &.navigation-window-visible {
            overflow: hidden;
        }
    }
}

img,
iframe {
    max-width: 100%;
}

img {
    height: auto;
}

a {
    text-decoration: underline;
    color: @link-color;
}

p {
    &:empty {
        display: none;
    }
}

.required-asterisk {
    &::after {
        content: '*';
        padding-left: 0.5ch;
        color: theme-color(danger);
    }
}

.js-error-field {
    border-color: theme-color(danger);
}

.js-validator-msg {
    font-size: @font-size-sm;
}

.msg-error {
    color: theme-color(danger);
}

.msg-warning {
    color: theme-color(warning);
}

.msg-info {
    color: theme-color(info);
}

.overall-wrapper,
.header-top,
.navigation-in,
#footer .container {
    max-width: 1920px;
    margin: 0 auto;
}

// Large display fixes
@media (min-width: 1920px) {
    .navigation-in {
        left: 50% !important;
        margin-left: -960px;
    }
}

.overall-wrapper {
    padding: @header-height 0 0;
    @media (min-width: @screen-sm-min) {
        padding-top: (@header-height + @navigation-height);
    }
}

.content-wrapper-in {
    @media (min-width: @screen-sm-min) {
        display: flex;
        align-items: flex-start;
    }
}

.breadcrumbs-wrapper,
.content-wrapper {
    padding: (@grid-gutter-width / 4);
    @media (min-width: @screen-sm-min) {
        padding: (@grid-gutter-width / 2);
    }
}

.breadcrumbs-wrapper + .content-wrapper {
    padding-top: 0;
}

.content-wrapper {
    .ordering-process & {
        padding: 0;
    }
}

.content {
    .ordering-process & {
        padding: (@grid-gutter-width / 4);
        @media (min-width: @screen-sm-min) {
            padding: (@grid-gutter-width / 2);
        }
    }
    @media (max-width: @screen-xs-max) {
        > h1,
        > h2,
        > h3,
        > h4 {
            text-align: center;
        }
    }
}

.sidebar {
    display: none;
    .multiple-columns-body & {
        @media (min-width: @screen-sm-min) {
            display: block;
            width: 260px;
            padding: (@grid-gutter-width / 2);
            background-color: #fff;
        }
        @media (min-width: @screen-lg-min) {
            width: 320px;
        }
    }
}

.content {
    @media (max-width: @screen-xs-max) {
        background-color: #fff;
    }
    @media (min-width: @screen-sm-min) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .multiple-columns-body & {
        @media (min-width: @screen-sm-min) {
            width: calc(100% - 260px);
            padding-left: (@grid-gutter-width / 2);
        }
        @media (min-width: @screen-lg-min) {
            width: calc(100% - 320px);
        }
    }
}

.type-index {
    #content-wrapper {
        @media (min-width: @screen-sm-min) {
            display: none;
        }
    }
}

.content-wrapper {
    &.before-carousel {
        padding: 0;
    }
}

.box {
    margin-bottom: @spacer;
}

// Shoptet classes
.no-display {
    display: none;
}
.js-hidden {
    .js-hidden-hidden();
    &.visible {
        .js-hidden-visible()
    }
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}
.shp-icon {
    .shoptet-icon();
}

.red {
    color: theme-color(danger);
}

.form-control {
    box-sizing: border-box;
}

.admin-bar,
#tracy-debug-bar,
.top-navigation-bar,
.browse-p {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
}

.consents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: (@spacer / 2);
    > input[type="checkbox"] {
        width: 16px;
        margin-right: 16px;
    }
    > label {
        width: calc(100% - 32px);
        margin-bottom: 0;
    }
}

.price-wrapper {
    margin-bottom: @spacer;
    .price-label {
        .priceLabel();
    }
    .price {
        display: block;
        font-size: @font-size-lg;
    }
}

.search {
    position: relative;
}

// Tooltip
.tooltip.in {
    opacity: @tooltip-opacity;
}

.question-tooltip {
    display: inline-block;
    vertical-align: baseline;
    width: 18px;
    height: 18px;
    border: 1px solid @border-color;
    border-radius: 50%;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    background-color: theme-color(dark);
    color: #fff;
}

// Addon
.horizontal-advantage {
    flex: 0 0 auto !important;
    width: calc(100% - 4rem) !important;
    min-width: 0 !important;
    @media (min-width: @screen-sm-min) {
        width: calc(50% - 4rem) !important;
    }
    @media (min-width: @screen-md-min) {
        width: calc(25% - 4rem) !important;
    }
}
