
@form-control-height: 42px;
@country-elements-width: 300px;
@country-elements-height: 360px;
@country-flag-width: 24px;
@country-flag-height: 24px;
@country-flag-item-height: @form-control-height;
@country-flags-inner-padding-base: 5px;
@country-flags-inner-border-width: 1px;

.country-flags {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    width: 78px;
    height: @country-flag-item-height;
    cursor: pointer;
    &:not(.active):focus {
        outline: 0;
    }
}

.country-flags-inner {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: @country-flags-inner-border-width;
    .country-flags.active & {
        left: -@country-flags-inner-padding-base;
        width: @country-elements-width;
        height: @country-elements-height;
        padding: @country-flag-item-height @country-flags-inner-padding-base @country-flags-inner-padding-base;
        overflow: auto;
        background-color: #fff;
    }
    .country-flags.active.turned & {
        bottom: 0;
        top: auto;
    }
}

.country-flag {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    height: @country-flag-item-height;
    &.selected,
    .country-flags.active & {
        display: flex;
        margin-left: -@country-flags-inner-padding-base;
        margin-right: -@country-flags-inner-padding-base;
        padding-left: @country-flags-inner-padding-base;
        padding-right: @country-flags-inner-padding-base;
        transition: all @transition-duration @transition-timing @transition-delay;
    }
    .country-flags.active &.selected {
        display: flex;
        position: absolute;
        left: @country-flags-inner-padding-base;
        right: @country-flags-inner-padding-base;
        top: 0;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .country-flags.active &.country-flag-preferred-last {
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
}

.shp-flag-name {
    display: none;
    padding-right: @country-flags-inner-padding-base;
    .country-flags.active & {
        display: inline-block;
    }
}

.shp-flag,
.shp-flag-label {
    flex-grow: 0;
    flex-shrink: 0;
}

.shp-flag {
    width: @country-flag-width;
    height: @country-flag-height;
}

.shp-flag-label {
    display: flex;
    position: relative;
    width: calc(100% - @country-flag-width);
    padding-left: 16px;
    padding-right: 3px;
    justify-self: flex-end;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    &::before {
        content: '';
        position: absolute;
        left: 3px;
        top: 50%;
        width: 0;
        height: 0;
        margin-top: -3px;
        border-width: 6px;
        border-style: solid;
        border-color: @body-color transparent transparent;
    }
    .country-flags.active & {
        width: calc(100% - @country-flag-width);
        text-align: left;
        &::before {
            display: none;
        }
    }
}
.country-flags-inner {
    border-color: transparent;
    .country-flags.active & {
        border-color: @border-color;
        background-color: #fff;
    }
}

.country-flag {
    .country-flags.active & {
        background-color: @input-bg;
        &.country-flag-preferred {
            background-color: lighten(#eee, 3%);
            &:not(.selected):hover {
                background-color: #eee;
            }
        }
    }
    .country-flags.active &.selected,
    .country-flags.active &.suggested,
    .country-flags.active &:hover {
        background-color: lighten(#eee, 3%);
    }
    .country-flags.active &.selected {
        border-bottom-color: @border-color;
    }
    .shp-flag-label {
        color: @body-color;
        .shp-flag-name {
            color: @body-color;
        }
    }
}

.country-flag-preferred-last {
    border-bottom-color: @border-color;
}

.shp-flag-label {
    &::before {
        border-color: @body-color transparent transparent;
    }
}
.phone-combined-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    select {
        display: none;
    }
    input,
    .country-flags {
        flex-grow: 0;
    }
    input {
        width: calc(100% - 78px);
        flex-shrink: 1;
    }
    @media (min-width: @screen-xs-min) {
        max-width: @select-width;
    }
}
