.filters-unveil-button-wrapper {
    margin-bottom: @spacer;
    text-align: center;
    .btn {
        display: block;
    }
}

.filters {
    display: none;
    &.visible {
        display: block;
    }
}

.filter-sections {
    label,
    input {
        cursor: pointer;
    }
    label {
        margin: 0;
        padding: 5px 0 5px 5px;
    }
}

.filter-section {
    margin-bottom: @spacer;
}

// Slider
@slider-border-style: none;
@slider-border-width: 0;
@slider-content-padding: 0 (@slider-handle-size / 2);
@slider-handle-border-radius: 50%;
@slider-handle-size: 20px;
@slider-header-padding-bottom: @spacer;
@slider-height: 6px;
@slider-wrapper-padding: (@spacer / 2);

.slider-wrapper {
    padding: @slider-wrapper-padding;
    max-width: 650px;
    margin: 0 auto @spacer;
}

.slider-header {
    .clearfix();
    padding-bottom: @slider-header-padding-bottom;
}

.slider-content {
    position: relative;
    padding: @slider-content-padding;
    height: @slider-height;
    margin-bottom: @slider-handle-size;
    border-style: @slider-border-style;
    border-width: @slider-border-width;
}
.ui-slider-range {
    border-style: @slider-border-style;
    border-width: @slider-border-width;
}

.ui-slider-horizontal {
    height: @slider-height;
    .ui-slider-range,
    .ui-slider-handle {
        z-index: 1;
    }
    .ui-slider-handle {
        position: absolute;
        width: @slider-handle-size;
        height: @slider-handle-size;
        margin-left: -(@slider-handle-size / 2);
        top: -(@slider-handle-size / 2 - @slider-height / 2);
        border-radius: @slider-handle-border-radius;
        cursor: pointer;
        &:focus {
            outline: 0;
        }
    }
}

.from,
.to {
    width: 50%;
    i {
        display: none;
    }
}
.from {
    float: left;
    text-align: left;
}
.to {
    float: right;
    text-align: right;
}

@ui-slider-bg: @border-color;
@ui-slider-border: inherit;
@ui-slider-handle-bg: theme-color('primary');
@ui-slider-handle-bg-hover: @ui-slider-handle-bg;
@ui-slider-handle-color: @ui-slider-handle-bg;
@ui-slider-range-bg: darken(@border-color, 5%);
@ui-slider-range-border: inherit;

.ui-slider,
.slider-content {
    background-color: @ui-slider-bg;
    border-color: @ui-slider-border;
}
.ui-slider-handle {
    color: @ui-slider-handle-color;
    background-color: @ui-slider-handle-bg;
    &:hover {
        background-color: @ui-slider-handle-bg-hover;
    }
}
.ui-slider {
    .ui-slider-range {
        background-color: @ui-slider-range-bg;
        border-color: @ui-slider-range-border;
    }
}
.ui-slider-horizontal {
    .ui-slider-handle {
        &::after {
            border-top-color: @ui-slider-handle-bg;
        }
    }
}

.filter-count {
    display: inline-block;
    margin-left: 1ex;
    padding: 1px 0.75em;
    border-radius: 8px;
    font-size: 12px;
    background-color: @border-color;
}
