.flags {
    position: absolute;
    font-size: @flag-font-size;
    &.flags-extra {
        top: -(@grid-gutter-width / 4);
        left: -(@grid-gutter-width / 4);
        font-size: @flag-extra-font-size;
        .p-image & {
            left: 0;
            top: 0;
        }
    }
    &.flags-default {
        top: -(@grid-gutter-width / 4);
        right: -(@grid-gutter-width / 4);
        .p-image & {
            right: 0;
            top: 0;
        }
    }
}

.flag {
    display: block;
    margin-bottom: (@spacer / 4);
    padding: 0 (@spacer / 4);
    text-align: right;
    text-transform: uppercase;
    color: #fff;
}

.flag-action {
    background-color: @flag-action-color;
}

.flag-gift {
    background-color: @flag-gift-color;
}

.flag-tip {
    background-color: @flag-tip-color;
}

.flag-new {
    background-color: @flag-new-color;
}

// Extra rounded flags
.flag-discount,
.flag-freeshipping {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: @flag-dimension;
    height: @flag-dimension;
    border-radius: (@flag-dimension / 2);
}

.flag-discount {
    text-align: center;
    background-color: @flag-discount-color;
    .price-save,
    .price-standard {
        display: block;
    }
    .price-standard {
        padding-top: 24px;
    }
}

.flag-freeshipping {
    padding-top: 10px;
    text-align: center;
    background-color: @flag-freeshipping-color;
    .icon-van {
        display: block;
        font-size: 36px;
    }
}
