#footer {
    padding: @spacer (@grid-gutter-width / 2);
    font-size: 12px;
    background-color: @footer-bg;
    color: #fff;
    a {
        color: #9c9d9d;
    }
    .site-name {
        margin-bottom: @spacer;
        > a {
            display: inline-block;
            padding: 5px;
            background-color: #fff;
        }
    }
    .btn-arrow-right {
        .sr-only {
            position: static;
            width: auto;
            height: auto;
        }
    }
}

.custom-footer {
    > div {
        margin-bottom: @spacer;
    }
    @media (min-width: @screen-sm-min) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        > div {
            width: 50%;
            flex-basis: 50%;
            padding-left: (@grid-gutter-width / 2);
            &:nth-child(2n+1) {
                padding-left: 0;
            }
        }
    }
    @media (min-width: @screen-lg-min) {
        > div {
            width: 25%;
            flex-basis: 25%;
            padding-left: (@grid-gutter-width / 2);
            &:nth-child(2n+1) {
                padding-left: (@grid-gutter-width / 2);
            }
            &:nth-child(4n+1) {
                padding-left: 0;
            }
        }
    }
}

.footer-bottom {
    text-align: center;
}

#signature {
    display: block !important;
    width: 100%;
    margin-bottom: @spacer;
    a {
        display: inline-block;
        text-decoration: none;
        &.image {
            margin-right: 1ex;
            img {
                width: 18px;
                height: auto;
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        display: inline-block;
        width: auto;
        margin-bottom: 0;
        padding-right: 1ex;
    }
}
