#header {
    z-index: @header-z-index;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #fff;
    opacity: 1;
    transition: opacity @transition-duration @transition-timing @transition-delay;
    .scrolled-down & {
        opacity: 0;
        pointer-events: none;
    }
    @media (min-width: @screen-sm-min) {
        .scrolled-down & {
            opacity: 1;
            pointer-events: initial;
        }
    }
}

.site-name {
    a {
        display: block;
    }
    img {
        max-height: 50px;
    }
}

.header-top {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: @header-height;
    padding-right: (@grid-gutter-width / 4);
    padding-left: (@grid-gutter-width / 4);
    .site-name-wrapper {
        flex-basis: 45%;
        max-width: 45%;
        padding-right: (@grid-gutter-width / 4);
    }
    .navigation-buttons {
        flex-basis: 55%;
        max-width: 55%;
    }
    border-bottom: 1px solid transparent;
    transition: border-bottom @transition-duration @transition-timing @transition-delay;
    .scrolled-down & {
        border-bottom: 1px solid @border-color;
    }
    .search {
        display: none;
        .btn {
            &::after {
                &:extend(.shp-icon);
            }
        }
    }
    @media (max-width: @screen-xs-max) {
        border-bottom: 1px solid @border-color;
    }
    @media (min-width: @screen-sm-min) {
        padding-right: (@grid-gutter-width / 2);
        padding-left: (@grid-gutter-width / 2);
        .search {
            display: block;
            z-index: 2;
            position: absolute;
            right: 60px;
            top: 81px;
            .form-control {
                width: 200px;
                padding-right: 30px;
                border: none;
                font-size: 12px;
            }
            .btn {
                position: absolute;
                right: 5px;
                top: 0;
                padding: 0;
                color: theme-color(primary);
                border: none;
                font-size: 20px;
                background-color: transparent;
                &::after {
                    content: @icon-search-code;
                }
                &:hover {
                    background-color: transparent;
                    color: theme-color(primary);
                }
            }
            .scrolled-down & {
                display: none;
            }
        }
    }
}

.navigation-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    .cart-count,
    a[data-target="navigation"],
    a[data-target="search"],
    a[data-target="login"] {
        &::before {
            &:extend(.shp-icon);
            display: inline-block;
            font-size: 30px;
        }
    }
    .btn.cart-count {
        position: relative;
        padding: 0;
        border: 0;
        i {
            position: absolute;
            left: 20px;
            top: -4px;
            width: 18px;
            height: 18px;
            vertical-align: middle;
            border-radius: 9px;
            font-size: 11px;
            font-style: normal;
            line-height: 18px;
            background-color: #000;
            color: #fff;
        }
        .cart-price {
            padding-left: 1ex;
            font-size: @font-size-sm;
        }
        &::before {
            content: @icon-cart-code;
        }
    }
    a[data-target="login"] {
        &::before {
            content: @icon-login-code;
        }
    }
    @media (max-width: @screen-xs-max) {
        .cart-count,
        a[data-target="navigation"],
        a[data-target="search"],
        a[data-target="login"] {
            text-decoration: none;
            &::before {
                width: @navigation-button-size;
                height: @navigation-button-size;
                margin-left: 5px;
                text-align: center;
                font-size: 18px;
                line-height: @navigation-button-size;
                border-radius: (@navigation-button-size / 2);
                background-color: theme-color(light);
                color: #fff;
            }
        }
        .btn.cart-count {
            i {
                left: auto;
                top: auto;
                right: -4px;
            }
            .cart-price {
                display: none;
            }
            .cart-window-visible &,
            &.full {
                &::before {
                    background-color: theme-color(secondary);
                }
            }
        }
        a[data-target="navigation"] {
            &::before {
                content: @icon-menu-code;
            }
            .navigation-window-visible & {
                &::before {
                    background-color: theme-color(secondary);
                }
            }
        }
        a[data-target="search"] {
            &::before {
                content: @icon-search-code;
            }
            .search-window-visible & {
                &::before {
                    background-color: theme-color(secondary);
                }
            }
        }
        a[data-target="login"] {
            .login-window-visible & {
                &::before {
                    background-color: theme-color(secondary);
                }
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        a[data-target="navigation"] {
            display: none;
        }
        a[data-target="login"] {
            margin-left: 1em;
        }
    }
}
