.loader,
.ajax-pending .loader-wrapper::before,
.ajax-pending-element::before {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: @loader-size;
    height: @loader-size;
    margin-top: -(round(@loader-size / 2));
    margin-left: -(round(@loader-size / 2));
    border-style: solid;
    border-width: @loader-border-width;
    border-radius: 50%;
    font-size: 0;
    text-indent: -9999em;
    background-clip: content-box;
    -webkit-animation: load 1s infinite linear;
    animation: load 1s infinite linear;
}

.ajax-pending .loader-wrapper::before,
.ajax-pending-element::before {
    content: '';
}

.loader {
    &.static {
        position: static;
        width: @loader-static-size;
        height: @loader-static-size;
        border-width: @loader-static-border-width;
        margin: 0 auto;
    }
}

.ajax-pending .loader-wrapper::after,
.ajax-pending-element::after {
    content: '';
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-overflow-scrolling: touch;
    transition: opacity @transition-duration @transition-timing 0;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes load {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader-overlay,
.ajax-pending-element::after {
    background-color: @overlay-bg;
}

.loader,
.ajax-pending .loader-wrapper::before,
.ajax-pending-element::before {
    border-color: @loader-color-outer;
    border-right-color: transparent;
    background-color: @loader-color-inner;
    &.accented {
        background-color: @loader-accented-color-outer;
    }
    &.static {
        border-color: @loader-static-color-outer;
        border-right-color: transparent;
        background-color: @loader-static-color-inner;
    }
}
