.menu-helper {
    display: none;
    &::after {
        &:extend(.shp-icon);
    }
    @media (min-width: @screen-sm-min) {
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: (@grid-gutter-width / 2);
        display: flex;
        width: 250px;
        align-items: center;
        height: @navigation-height;
        text-align: right;
        font-size: @navigation-font-size;
        a {
            text-decoration: none;
        }
        > span {
            display: none;
        }
        > ul {
            z-index: 1;
            position: absolute;
            top: @navigation-height;
            right: 0;
            display: none;
            width: 480px;
            max-height: 480px;
            padding: 0;
            overflow: auto;
            background-color: #fff;
            box-shadow: @navigation-box-shadow;
            > li {
                &.splitted {
                    display: none;
                    + li {
                        border-top-style: none;
                    }
                }
            }
            a {
                color: theme-color('primary');
            }
            b {
                font-weight: normal;
            }
            .menu-helper-visible & {
                display: block;
            }
        }
        &.empty {
            visibility: hidden;
            pointer-events: none;
        }
        &:after {
            position: absolute;
            right: 0;
            top: 0;
            content: @icon-menu-code;
            padding: 0 1ex;
            vertical-align: middle;
            text-align: center;
            font-size: 18px;
            line-height: @navigation-height;
            color: #fff;
            cursor: pointer;
        }
        .scrolled-down & {
            display: none;
        }
    }
}
