.shoptet-icon() {
    display: inline-block;
    speak: none;
    vertical-align: middle;
    font-family: shoptet;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 0;
    text-transform: none;
    text-decoration: none;
}

.invisibleMenuItem() {
    overflow: hidden;
    height: 0;
    width: 0;
    opacity: 0;
    transition: opacity @transition-duration @transition-timing @transition-delay;
}

.visibleMenuItem() {
    height: auto;
    width: auto;
    overflow: auto;
    opacity: 1;
    transition: opacity @transition-duration @transition-timing @transition-delay;
}

.productBorderBottom() {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image: linear-gradient(90deg, rgb(250, 250, 250), @border-color, rgb(250, 250, 250)) 1;
}

.priceLabel() {
    font-size: @font-size-sm;
    font-weight: normal;
    color: theme-color(light);
}

.js-hidden-hidden() {
    position: absolute;
    max-height: 0;
    max-width: 0;
    overflow: hidden;
    transform: scaleY(0) scaleX(0);
    transform-origin: top left;
}

.js-hidden-visible() {
    position: inherit;
    max-height: none;
    max-width: none;
    overflow: visible;
    transform: scaleY(1) scaleX(1);
    transform-origin: top left;
    transition: all @transition-duration @transition-timing @transition-delay;
}

.fullWidthHeading() {
    margin: 0 -(@grid-gutter-width / 4) @spacer;
    padding-top: (@spacer / 2);
    border-top: 3px solid theme-color(light);
    text-align: center;
    text-transform: uppercase;
    font-size: @h4-font-size;
    @media (min-width: @screen-sm-min) {
        margin: 0 -(@grid-gutter-width / 2) @spacer;
    }
}

.helpBox() {
    border: 1px dashed @border-color;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}
