#navigation {
    position: relative;
    font-size: 16px;
    a {
        text-decoration: none;
    }
    b {
        font-weight: normal;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    @media (max-width: @screen-xs-max) {
        background-color: #fff;
        .invisibleMenuItem();
        li {
            width: 100%;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            &:last-child {
                border-bottom-style: none;
            }
        }
        a {
            line-height: 25px;
            padding: (@grid-gutter-width / 4);
        }
        .navigation-window-visible & {
            z-index: @navigation-z-index;
            position: fixed;
            left: 0;
            top: @header-height;
            right: 0;
            bottom: 0;
            display: block;
            padding: 0 (@grid-gutter-width / 4);
            .visibleMenuItem();
        }
    }
    @media (min-width: @screen-sm-min) {
        opacity: 1;
        transition: opacity @transition-duration @transition-timing @transition-delay;
        .scrolled-down & {
            height: 0;
            opacity: 0;
            pointer-events: none;
        }
        height: @navigation-height;
        overflow: hidden;
        font-size: @navigation-font-size;
        background-color: @navigation-bg;
        ul {
            &.menu-level-1 {
                padding-left: (@grid-gutter-width / 2);
                padding-right: (@grid-gutter-width / 2);
            }
        }
        a {
            display: block;
        }
        .submenu-visible & {
            overflow: visible;
            &.menu-helper-visible {
                overflow: hidden;
            }
        }
    }
}

.navigation-in {
    @media (min-width: @screen-sm-min) {
        position: absolute;
        left: 0;
        top: 0;
        width: 9999em;
        .submenu-visible &,
        .fitted & {
            width: 100%;
        }
    }
}

.menu-level-1 {
    display: block;
    @media (max-width: @screen-xs-max) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        > li {
            > a {
                color: @link-color;
            }
            a {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
            }
            &.exp {
                > a {
                    color: theme-color(light);
                }
            }
            > ul {
                .invisibleMenuItem();
            }
            &.exp {
                > ul {
                    .visibleMenuItem();
                }
            }
        }
        li {
            border-bottom-color: @border-color;
        }
    }
    @media (min-width: @screen-sm-min) {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        > li {
            display: block;
            > a {
                display: block;
                padding: 0 (@grid-gutter-width / 2);
                line-height: @navigation-height;
                background-color: transparent;
                color: #fff;
                transition: background-color @transition-duration @transition-timing @transition-delay, color @transition-duration @transition-timing @transition-delay;
                &:hover{
                    background-color: #fff;
                    color: @navigation-bg;
                }
            }
            &.splitted {
                visibility: hidden;
                pointer-events: none;
            }
            &.exp {
                > a {
                    background-color: #fff;
                    color: @navigation-bg;
                }
            }
        }
    }
}

.menu-level-2 {
    @media (max-width: @screen-xs-max) {
        > li {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .menu-image,
            > div {
                width: 100%;
            }
            > div {
                order: 0;
            }
            .menu-image {
                order: 2;
                img {
                    margin: 0 auto;
                }
            }
            > div {
                > a {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: @link-color;
                }
            }
            &.active {
                a {
                    background-color: @gray-bg;
                }
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        display: block;
        width: 0;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: opacity @transition-duration @transition-timing @transition-delay;
        .submenu-visible .exp & {
            position: absolute;
            left: (@grid-gutter-width / 2);
            right: (@grid-gutter-width / 2);
            top: @navigation-height;
            width: calc(100% - @grid-gutter-width);
            height: auto;
            overflow: auto;
            display: flex;
            align-items: inherit;
            justify-content: center;
            flex-wrap: wrap;
            flex-direction: row;
            background-color: #fff;
            box-shadow: @navigation-box-shadow;
            opacity: 1;
            transition: opacity @transition-duration @transition-timing @transition-delay;
            > li {
                display: flex;
                flex-wrap: wrap;
                align-items: stretch;
                width: 160px;
                padding: (@grid-gutter-width / 2);
                text-transform: uppercase;
                div {
                    order: -1;
                    width: 100%;
                    a {
                        height: (@font-size-base * 2) + 6px;
                        line-height: @font-size-base + 3px;
                        overflow: hidden;
                        &.menu-image {
                            height: auto;
                        }
                    }
                }
            }
            a {
                display: block;
                margin-bottom: (@spacer / 2);
                text-align: center;
                &.menu-image {
                    margin-bottom: 0;
                    transform: scale(1);
                    transition: transform @transition-duration @transition-timing @transition-delay;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    @media (min-width: @screen-xl-min) {
        > li {
            border-right: 1px solid @border-color;
            &:last-child {
                border-right-style: none;
            }
        }
        .submenu-visible .exp & {
            > li {
                width: 190px;
            }
        }
    }
}

.menu-level-3 {
    @media (max-width: @screen-xs-max) {
        display: none;
        .has-third-level.exp & {
            display: block;
        }
        > li {
            border-color: #fff;
            > a {
                background-color: @gray-bg;
                color: @link-color;
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        display: none;
    }
}

.submenu-arrow {
    @media (max-width: @screen-xs-max) {
        display: inline-block;
        margin-right: -1ex;
        padding: 0 1ex 0 2ex;
        &::after {
            content: '';
            position: relative;
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: -1ex;
            border: (@arrow-width / 2) solid transparent;
            border-top: (@arrow-width / 2) solid;
            border-right: (@arrow-width / 2) solid;
            color: theme-color(light);
            transform: rotate(45deg);
            transition: transform @transition-duration @transition-timing 0;
        }
        .exp > a &,
        .exp > div > a & {
            &::after {
                transform: rotate(135deg);
            }
        }
    }
}
