.overlay,
.loader-overlay,
.loader-wrapper::after {
    background-color: @overlay-bg;
}

.overlay.visible,
.loader-overlay {
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.overlay.visible {
    position: fixed;
    // @navigation-z-index + 1 = z-index for navigation buttons, we need + 2
    z-index: @navigation-z-index + 2;
}

.loader-overlay {
    position: absolute;
    z-index: 0;
}

body {
    &.user-action-visible,
    &.msg-visible,
    &.spinner-visible {
        .overlay {
            position: fixed;
            left: 0;
            top: 0;
            display: block;
            width: 100%;
            height: 100%;
            opacity: 1;
            -webkit-overflow-scrolling: touch;
            transition: opacity @transition-duration @transition-timing 0;
            &.invisible {
                opacity: 0;
            }
        }

    }
    &.user-action-visible,
    &.msg-visible {
        .overlay {
            z-index: 0;
        }
    }
    &.spinner-visible {
        .overlay {
            // @navigation-z-index + 1 = z-index for navigation buttons, we need + 2
            z-index: @navigation-z-index + 2;
        }
    }
}
