.colorbox-html-content {
    background-color: #fff;
}

.content-modal {
    padding: (@grid-gutter-width / 4);
}

// Watchdog
.watchdog-row {
    display: block;
    max-width: 100%;
    .form-control {
        &#priceUnder {
            width: 30%;
        }
    }
    .notificationEmail {
        margin-bottom: (@spacer / 2);
    }
    label {
        strong {
            display: block;
            margin-top: (@spacer / 2);
        }
    }
    .disclaimer {
        visibility: visible;
        color: theme-color(warning);
        &.hidden {
            visibility: hidden;
        }
    }
    #watchdog-reset {
        display: none;
    }
}
