.products a.image::before {
    content: '';
    float: left;
}

.products a.image::after {
    content: '';
    display: block;
    clear: both;
}

.product {
    align-items: center;
    margin-bottom: @spacer;
    @media (max-width: @screen-xs-max) {
        .productBorderBottom();
        &:last-child {
            margin-bottom: 0;
            border-bottom: none;
        }
    }
}

.p {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    padding: (@grid-gutter-width / 4) (@grid-gutter-width / 4) (@spacer / 2);
    background-color: #fff;
    .image {
        order: -1;
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: (@spacer / 2);
    }
    .name {
        display: block;
        padding-bottom: @spacer;
    }
    a {
        text-decoration: none;
    }
}

.products-top {
    margin-bottom: @spacer;
    text-align: center;
    .ratings-wrapper {
        display: none;
    }
}

.category-header {
    margin-bottom: @spacer;
    label {
        margin-bottom: 0;
    }
    @media (min-width: @screen-lg-min) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
}

.p-tools {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .btn {
        min-width: 100px;
        text-align: center;
    }
    .pr-action,
    > .btn {
        display: inline-flex;
        justify-content: center;
    }
    .pr-action {
        order: 2;
    }
    > .btn {
        order: 1;
    }
}

.p-bottom [data-micro="offer"] {
    display: flex;
    flex-wrap: wrap;
    .p-tools,
    .p-desc,
    .prices,
    .p-in-in {
        width: 100%;
    }
    .prices,
    .p-in-in {
        text-align: right;
    }
    .prices {
        margin-bottom: (@spacer / 2);
        .price {
            white-space: nowrap;
            font-size: @price-font-size;
            .pr-list-unit {
                font-size: @price-unit-font-size;
            }
        }
    }
    .p-desc {
        display: flex;
        order: -1;
    }
    @media (min-width: @screen-sm-min) {
        justify-content: flex-end;
        flex-direction: column;
        margin-bottom: -70px;
        .prices {
            margin-bottom: 0;
            text-align: left;
        }
        .p-in-in,
        .prices {
            position: relative;
            top: 22px;
            display: flex;
            width: 57%;
            flex-basis: 57%;
        }
        .p-in-in {
            text-align: left;
        }
        .p-tools {
            position: relative;
            top: -70px;
            width: 43%;
            margin-top: 0;
            flex-basis: 43%;
            padding-left: 1ex;
            flex-wrap: wrap;
            align-items: flex-end;
            order: 2;
            flex-direction: column;
            align-self: flex-end;
            .pr-action,
            .btn {
                display: block;
            }
            > .btn {
                margin-bottom: (@spacer / 2);
            }
        }
        .advanced-order & {
            .prices {
                top: -30px;
            }
        }
    }
}

.p-desc {
    font-size: 13px;
    @media (min-width: @screen-sm-min) {
        height: floor((13px * @line-height-base) * 5);
        overflow: hidden;
    }
}

.availability {
    font-size: 12px;
}

.products {
    width: 100%;
    margin-bottom: @spacer;
    @media (min-width: @screen-md-min) {
        display: flex;
        align-items: initial;
        flex-wrap: wrap;
        .product {
            width: 50%;
            margin-bottom: 0;
            padding: (@grid-gutter-width / 4);
            .p {
                padding: (@grid-gutter-width / 4);
                background-color: #fff;
            }
        }
        .name {
            height: floor((@font-size-base * @line-height-base) * 2);
            overflow: hidden;
        }
    }
    @media (min-width: @screen-lg-min) {
        .product {
            width: 25%;
        }
        .multiple-columns-body & {
            .product {
                width: 33.333%;
            }
        }
    }
    @media (min-width: @screen-xl-min) {

        .multiple-columns-body & {
            .product {
                width: 25%;
            }
        }
    }
}

.pagination-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    .js-scroll-top {
        cursor: pointer;
    }
    div {
        margin-bottom: @spacer;
    }
}

.pagination {
    a,
    strong {
        padding: 1ex;
    }
    a {
        text-decoration: none;
    }
}

.pagination-link {
    &.next,
    &.prev,
    &.up {
        &::after {
            &:extend(.shp-icon);
        }
    }
    &.next {
        &::after {
            content: @icon-chevron-right-code;
        }
    }
    &.prev {
        &::after {
            content: @icon-chevron-left-code;
        }
    }
    &.up {
        &::after {
            content: @icon-chevron-up-code;
        }
    }
}

.single-button {
    .btn-primary {
        visibility: hidden;
        pointer-events: none;
    }
}
