.product-top {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: (@spacer / 2);
    .detail-parameters {
        display: flex;
    }
    > div {
        width: 100%;
        flex-basis: 100%;
    }
    @media (min-width: @screen-lg-min) {
        > div {
            &.p-image-wrapper,
            &.p-info-wrapper {
                width: 50%;
                flex-basis: 50%;
            }
            &.p-image-wrapper {
                padding-right: (@grid-gutter-width / 2);
            }
            &.p-info-wrapper {
                padding-left: (@grid-gutter-width / 2);
            }
        }
    }
}

.p-code,
.p-detail-info {
    font-size: @font-size-sm;
    color: theme-color(light);
}

.p-ean {
    display: block;
}

.p-image {
    position: relative;
    margin-bottom: @spacer;
}

.p-detail-info {
    margin-bottom: @spacer;
}

.p-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.p-short-description {
    order: -1;
}

.p-final-price-wrapper {
    margin-bottom: @spacer;
    .price-standard,
    .price-save {
        display: none;
    }
    .price-final {
        font-size: 32px;
    }
    .price-additional {
         display: block;
         color: theme-color(light);
     }
    .price-additional {
        display: block;
        color: theme-color(light);
    }
}

.add-to-cart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: (@spacer / 2);
}

.quantity {
    position: relative;
    display: inline-block;
}

.increase,
.decrease {
    position: absolute;
    right: 0;
    width: @increase-size;
    height: @increase-size;
    cursor: pointer;
    &::before {
        &:extend(.shp-icon);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 10px;
        line-height: @increase-size;
        text-align: center;
    }
}
.increase {
    top: 1px;
    &::before {
        content: @icon-plus-code;
    }
}
.decrease {
    bottom: 0;
    &::before {
        content: @icon-minus-code;
    }
}

.amount {
    width: 100%;
    max-width: 80px;
    padding-right: (@increase-size * 1.5);
    padding-left: 5px;
    border: 1px solid theme-color(light);
    border-radius: 0;
    line-height: 42px;
}

// Thumbnails
.p-thumbnails-wrapper {
    margin-bottom: @spacer;
}

.p-thumbnails {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.p-thumbnails-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 9999em;
    height: 100px;
    transition: left @transition-duration @transition-timing @transition-delay;
    > div {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }
}

.p-thumbnail {
    display: block;
    margin-left: 5px;
    border-radius: 50px;
    text-decoration: none;
    img {
        border: 1px solid theme-color(primary);
        border-radius: 50px;
    }
    &:first-child {
        margin-left: 0;
    }
}

.thumbnail-prev,
.thumbnail-next {
    position: absolute;
    top: 0;
    z-index: 1000;
    display: block;
    width: 100px;
    height: 100px;
    font-size: @chevron-font-size;
    line-height: 100px;
    opacity: 0;
    pointer-events: none;
    transition: opacity;
    &::after {
        &:extend(.shp-icon);
        vertical-align: middle;
    }
}

.thumbnail-prev {
    left: 0;
    text-align: left;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    &::after {
        content: @icon-chevron-left-code;
    }
    .overflow-prev & {
        opacity: 1;
        pointer-events: auto;
    }
}

.thumbnail-next {
    right: 0;
    text-align: right;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    &::after {
        content: @icon-chevron-right-code;
    }
    .overflow-next & {
        opacity: 1;
        pointer-events: auto;
    }
}

.products-related-header,
.products-alternative-header {
    .fullWidthHeading();
}

.link-icon {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    span {
        text-decoration: underline;
    }
    &:hover {
        text-decoration: none;
        span {
            text-decoration: none;
        }
    }
    &::before {
        &:extend(.shp-icon);
        padding-right: 1ex;
        padding-left: 1ex;
    }
    &:first-child {
        &::before {
            padding-left: 0;
        }
    }
    &.watchdog {
        &::before {
            content: @icon-watchdog-code;
        }
    }
    &.print {
        &::before {
            content: @icon-print-code;
        }
    }
    &.chat {
        &::before {
            content: @icon-message-code;
        }
    }
}

.chevron-down-after {
    &::after {
        &:extend(.shp-icon);
        content: @icon-chevron-down-code;
        padding-left: 1ex;
    }
}

.basic-description {
    margin-bottom: @spacer;
    @media (min-width: @screen-lg-min) {
        width: 66.666%;
        padding-right: (@grid-gutter-width / 2);
        margin-bottom: 0;
    }
}

.extended-description {
    padding: (@grid-gutter-width / 2);
    .helpBox();
    @media (min-width: @screen-lg-min) {
        width: 33.333%;
    }
}

.description-inner {
    @media (min-width: @screen-lg-min) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
}
