.products-top {
    .flags {
        display: none;
    }
    .button-wrapper {
        width: 100%;
        text-align: center;
    }
    .product {
        display: block;
        margin-bottom: (@spacer / 2);
        border-bottom: none;
        .p-bottom {
            display: none;
        }
        &.inactive {
            display: none;
        }
    }
    .p {
        .name {
            padding-bottom: 0;
        }
    }
    @media (min-width: @screen-xs-min) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .product {
            width: 50%;
        }
    }
    @media (min-width: @screen-md-min) {
        .product {
            width: 33.333%;
        }
    }
}

ol.top-products {
    list-style: none;
    padding: 0;
    li {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        margin-bottom: @spacer;
    }
}

.top-products-image {
    width: 80px;
}

.top-products-content {
    width: calc(100% - 80px);
    padding-left: (@grid-gutter-width / 2);
}
