.search-whisperer {
    display: none;
    font-size: @font-size-sm;
    &.active {
        position: absolute;
        right: 0;
        top: 34px;
        width: 100%;
        max-height: 480px;
        overflow: auto;
        border: 1px solid @border-color;
        background-color: #fff;
        box-shadow: @navigation-box-shadow;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        .productBorderBottom();
    }
    a {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        padding: (@grid-gutter-width / 4);
        text-decoration: none;
    }
    em {
        display: inline-block;
        padding-right: 1ex;
        &:empty {
            display: none;
        }
    }
    .search-whisperer-image {
        width: 25%;
        flex-basis: 25%;
        padding-right: (@grid-gutter-width / 2);
    }
    .p-info {
        width: 50%;
        flex-basis: 50%;
        .p-name {
            display: block;
        }
    }
    .price-final {
        width: 25%;
        flex-basis: 25%;
        padding-left: (@grid-gutter-width / 2);
        text-align: right;
    }
    .content &.active {
        position: relative;
        top: 0;
        width: 100%;
    }
    @media (min-width: @screen-sm-min) {
        &.active {
            width: 480px;
        }
    }
}
