.site-msg {
    padding: (@grid-gutter-width / 4);
    text-align: center;
    font-size: @font-size-sm;
    @media (min-width: @screen-sm-min) {
        padding: (@grid-gutter-width / 4) (@grid-gutter-width / 2);
    }
}
