.subcategories {
    list-style: none;
    width: 100%;
    margin: 0 0 @spacer;
    padding: 0;
    a {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        padding: (@grid-gutter-width / 4);
        text-align: center;
        text-decoration: none;
    }
    .image,
    .text {
        display: block;
        margin: 0 auto;
    }
    .text {
    }
    .image {
        margin-bottom: (@grid-gutter-width / 4);
    }
    img {
        display: block;
        margin: 0 auto;
    }
    @media (min-width: @screen-xs-min) {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: @spacer;
        li {
            width: 50%;
        }
    }
    @media (min-width: @screen-sm-min) {
        li {
            width: 33.333%;
        }
    }
    @media (min-width: @screen-lg-min) {
        li {
            width: 25%;
        }
    }
    @media (min-width: @screen-xl-min) {
        li {
            width: 20%;
        }
    }
}
