.shp-tabs-row {
    margin-left: -(@grid-gutter-width / 4);
    margin-right: -(@grid-gutter-width / 4);
    background-color: theme-color(primary);
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
    @media (min-width: @screen-sm-min) {
        margin-left: -(@grid-gutter-width / 2);
        margin-right: -(@grid-gutter-width / 2);
    }
}

#p-detail-tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 (@grid-gutter-width / 4);
    font-size: 13px;
    line-height: 45px;
}

.shp-tabs-holder {
    .navigation-btn {
        display: none !important;
    }
    + .navigation-btn {
        display: none !important;
    }
}

.shp-tab {

}

.shp-tab-link {
    padding: 0 (@grid-gutter-width / 2);
}

.tab-content {
    padding-top: (@grid-gutter-width / 2);
    padding-bottom: (@grid-gutter-width / 2);
}
