.user-action {
    display: none;
    .login-window-visible &,
    .cart-window-visible &,
    .search-window-visible & {
        display: block;
        z-index: (@navigation-z-index + 2);
        position: fixed;
        left: 0;
        right: 0;
        top: @header-height;
        bottom: 0;
        overflow: auto;
        background-color: #fff;
    }
}

.user-action-in {
    padding: (@grid-gutter-width / 4);
}

.user-action-login {
    display: none;
    .login-window-visible & {
        display: block;
    }
}

.user-action-cart {
    display: none;
    .cart-window-visible & {
        display: block;
    }
}

.user-action-search {
    display: none;
    .search-window-visible & {
        display: block;
        .search {
            display: block;
        }
    }
}

.user-action-search,
.cart-content {
    .search {
        margin-bottom: @spacer;
        fieldset {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            align-items: center;
            .form-control {
                order: -2;
                width: 75%;
            }
            .btn {
                order: -1;
                width: 25%;
            }
        }
    }
    @media (min-width: @screen-sm-min) {
        fieldset {
            .form-control {
                width: 80%;
            }
            .btn {
                width: 20%;
            }
        }
    }
}

.user-action-tabs {
    display: none;
}

@media (min-width: @screen-sm-min) {
    .user-action {
        .cart-window-visible &,
        .login-window-visible & {
            right: 0;
            left: auto;
            bottom: auto;
            width: 480px;
            box-shadow: @navigation-box-shadow;
        }
    }
}

.user-action-login {
    .tab-content {
        padding-top: 0;
        padding-bottom: 0;
    }
    .form-group {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.password-helper {
    display: flex;
    flex-wrap: wrap;
    padding-top: (@spacer / 2);
    a {
        width: 50%;
        flex-basis: 50%;
        text-align: right;
        &:first-child {
            text-align: left;
        }
    }
}

.cart-widget-inner {
    @media (min-width: @screen-sm-min) {
        .cart-widget-products {
            max-height: 480px;
            overflow: auto;
        }
    }
}
