.variant-table {
    .table-row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        margin-bottom: (@spacer / 2);
        padding-bottom: (@spacer / 2);
        border-bottom: 1px solid @border-color;
        &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }
    .table-col {
        &.variant-name-wrapper {
            width: 100%;
            margin-bottom: (@spacer / 2);
            @media (min-width: @screen-sm-min) {
                width: 50%;
                margin-bottom: 0;
            }
        }
        &.price,
        &.cart {
            width: 100%;
            text-align: right;
        }
        &.price {
            margin-bottom: (@spacer / 2);
            @media (min-width: @screen-sm-min) {
                width: 50%;
            }
        }
        &.cart {
            @media (min-width: @screen-sm-min) {

            }
        }
    }
    .variant-submit {
        fieldset {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-end;
        }
    }
    .price-final {
        font-weight: bolder;
    }
    .price-additional {
        color: theme-color(light);
    }
    .variant-name {
        font-weight: bold;
    }
    .btn {
        #button-size(@btn-padding-y-lg, @btn-padding-x-lg, @btn-font-size-lg, @btn-line-height-lg, @btn-border-radius-lg);
    }
}