// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

@screen-xl:                  1440px;
@screen-xl-min:              @screen-xl;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

@grid-gutter-width: 40px;
@input-btn-font-size: @font-size-sm;
@spacer: 2rem;
@transition-duration: 400ms;
@transition-delay: 50ms;
@transition-timing: ease;
@select-width: 217px;

@price-font-size: 18px;
@price-unit-font-size: 12px;
@chevron-font-size: 36px;
@increase-size: 20px;

// Typography
@font-size-base: 16px;
@border-radius: 0;
@border-radius-sm: 0;
@border-radius-lg: 0;

// Header
@header-height: 75px;

// Navigation
@arrow-width: 8px;
@navigation-height: 45px;
@navigation-font-size: 13px;
@navigation-button-size: 36px;
@navigation-box-shadow: 0 5px 4px 0 #021e2f;

// Categories menu
@cat-trigger-dimension: 24px;
@cat-trigger-font-size: 18px;

// Z-indexes
@header-z-index: 2;
@navigation-z-index: 3;

// Theme
@brand-green: #a1c900;
@brand-gray: #949599;
@brand-gray-dark: #6f6f71;
@brand-orange: #fe7525;
@brand-dark-blue: #031e2f;
@navigation-bg: @brand-dark-blue;
@footer-bg: @brand-dark-blue;
@border-color: #cfcfcf;
@gray-bg: #ededed;
@body-color: #000;
@link-color: @brand-dark-blue;
@theme-colors: {
    primary:     @brand-dark-blue;
    secondary:   @brand-orange;
    success:     @success;
    info:        @info;
    warning:     @warning;
    danger:      @danger;
    light:       @brand-gray;
    dark:        @brand-gray-dark;
    green:        @brand-green;
};
@overlay-bg: rgba(255, 255, 255, .8);
@state-danger-bg: #d9534f;
@state-danger-border: darken(spin(@state-danger-bg, -10), 5%);
@state-danger-text: #fff;
@state-info-bg: #3276b1;
@state-info-border: darken(spin(@state-info-bg, -10), 7%);
@state-info-text: #fff;
@state-success-bg: #5cb85c;
@state-success-border: darken(spin(@state-success-bg, -10), 5%);
@state-success-text: #fff;
@state-warning-bg: #eea236;
@state-warning-border: darken(spin(@state-warning-bg, -10), 5%);
@state-warning-text: #fff;

// Flags
@flag-dimension: 80px;
@flag-font-size: 12px;
@flag-extra-font-size: 12px;
@flag-action-color: theme-color('primary');
@flag-gift-color: theme-color('primary');
@flag-tip-color: theme-color('primary');
@flag-new-color: theme-color('primary');
@flag-discount-color: theme-color('primary');
@flag-freeshipping-color: theme-color('primary');

// Loader
@loader-border-width: 3px;
@loader-size: 65px;
@loader-static-border-width: 3px;
@loader-static-size: 24px;
@loader-accented-color-outer: theme-color('secondary');
@loader-color-inner: transparent;
@loader-color-outer: theme-color('primary');
@loader-static-color-inner: transparent;
@loader-static-color-outer: theme-color('primary');
