.cart-widget-product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: (@spacer / 2);
    padding-bottom: (@spacer / 2);
    font-size: @font-size-sm;
    .productBorderBottom();
}
.cart-widget-product-image {
    width: 122px;
    flex-basis: 122px;
    padding-right: 10px;
    a {
        display: block;
    }
    img {
        border: 1px solid @border-color;
    }
}

.cart-widget-product-amount {
    width: 15%;
    flex-basis: 15%;
    padding-left: 5px;
}

.cart-widget-product-unit {
    width: 10%;
    flex-basis: 10%;
    padding: 0 5px;
}

.cart-widget-product-name {
    width: calc(65% - 122px);
    flex-basis: calc(65% - 122px);
    strong {
        display: block;
    }
}

.cart-widget-product-delete {
    width: 10%;
    flex-basis: 10%;
}

@media (max-width: @screen-sm-min) {
    .cart-widget-product-name {
        width: 100%;
        flex-basis: 100%;
        order: -1;
        margin-bottom: 5px;
    }
    .cart-widget-product-amount {
        width: calc(70% - 122px);
        flex-basis: calc(70% - 122px);
    }
    .cart-widget-product-unit {
        width: 20%;
        flex-basis: 20%;
    }
    .cart-widget-product-delete {
    }
}

.cart-widget-product-unit {

}

.cart-widget-button,
.cart-free-shipping{
    text-align: center;
}

.cart-free-shipping {
    // TODO: Ask Brezina
    display: none;
    div {
        margin-bottom: (@spacer / 2);
    }
}

.remove-item {
    border: 0;
    background: 0;
    appearance: none;
    span {
        display: none;
    }
    &::before {
        &:extend(.shp-icon);
        content: @icon-close-code;
        color: theme-color(danger);
    }
}
